<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.test.platform.mapper.TestCaseScheduleMapper">
    <select id="selectEnableSchedules" resultType="com.auto.test.platform.entity.TestCaseSchedule">
        SELECT * FROM test_case_schedule WHERE status = 1
    </select>
</mapper>